$primary-color: #2b3f2a;
$secondary-color: #B28A66;

$background: #fffef9;
$background-dark: #F8F2DF;

$font-color: #377a49;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lora', serif;

$white: #fff;

$screen-xl: 1600px;
$screen-lg: 1400px;
$screen-md: 1200px;
$screen-sm: 992px;
$screen-xs: 768px;
