$primary-color: #000;
$secondary-color: #D4DCCD;

$background: #fff;
$background-dark: #eee;

$font-color: 1A1A1D;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$white: #fff;

$screen-xl: 1600px;
$screen-lg: 1400px;
$screen-md: 1200px;
$screen-sm: 992px;
$screen-xs: 768px;

$header-height: 2.6rem;
